{%extends 'mentor/base.html'%} {%load static%} {% block content_block %}
<div class="box-row">
  <div class="box-cell">
    <div class="box-inner padding">


      <div class="row row-sm">
        <div class="col-sm-12">
          <div class="card">
            <div class="card-heading">
              <a href="" class="font-bold block">Approvals</a>
            </div>
          </div>
        </div>
      </div>
      <div class="col-sm-3">
        <div class="panel panel-card">
          <div class="item">
            <img src="{%static 'images/c1.jpg'%}" class="w-full r-t" alt="Washed Out">
          </div>
          <div class="p">
            <h3>Bear</h3>
            <button class="btn waves-effect waves-light pink" type="submit" name="action">
              <i class="mdi-action-done right"></i>
            </button> &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
            <button class="btn waves-effect waves-light pink" type="submit" name="action">
              <i class="mdi-content-clear right"></i>
            </button>
          </div>
        </div>
      </div>
      <div class="row row-sm">
        <div class="col-sm-12">
          <div class="card">
            <div class="card-heading">
              <a href="" class="font-bold block">Groups</a>
            </div>
          </div>
        </div>
      </div>
      <div class="col-sm-3">
        <div class="panel panel-card">
          <div class="item">
            <img src="{%static 'images/c1.jpg'%}" class="w-full r-t" alt="Washed Out">
          </div>
          <div class="p">
            <h3>Bear</h3>

          </div>
        </div>
      </div>
      <div class="row row-sm">
        <div class="col-sm-12">
          <div class="card">
            <div class="card-heading">
              <a href="" class="font-bold block">Students</a>
            </div>
          </div>
        </div>
      </div>
      <div class="col-sm-3">
        <div class="panel panel-card">
          <div class="item">
            <img src="{%static 'images/c1.jpg'%}" class="w-full r-t" alt="Washed Out">
          </div>
          <div class="p">
            <h3>Bear</h3>

          </div>
        </div>
      </div>

    </div>
  </div>
</div>
{%endblock%}